<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Departamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Crear departamento</h1>

        <form method="post">
            <label for="propietario">Propietario:</label>
            <input type="text" id="propietario" name="propietario" required><br><br>

            <label for="costo">Costo:</label>
            <input type="number" id="costo" name="costo" required><br><br>

            <label for="num_cuartos">Número de cuartos:</label>
            <input type="number" id="num_cuartos" name="num_cuartos" required><br><br>

            <label for="edificio">Edificio:</label>
            <select id="edificio" name="edificio" required>
                <option value="">Seleccione un edificio</option>
                {%for e in edificios %}
                <option value="{{e['id']}}">{{e['nombre']}}</option>
                {%endfor%}
            </select><br><br>

            <input type="submit" value="Crear">
        </form>

</body>

</html>