<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <div style="text-align: center;">
            <a href="/edificios">Edificios</a>
            <a href="/departamentos">Departamentos</a>
            <a href="/crear_edificios">Crear Edificios</a>
            <a href="/crear_departamentos">Crear Departamentos</a>
        </div>
    </div>
</body>

</html>