<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Departamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h5>Listado de departamentos - {{ departamentos|length }}</h5>

    {% for d in departamentos %}

    <ol>
      <li><b>Propietario: </b>{{d['propietario']}}</li>
      <li><b>Costo: </b>{{d['costo']}}</li>
      <li><b>Número de cuartos: </b>{{d['num_cuartos']}}</li>
      <li><b>Edificio: </b>{{d['edificio']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
